body {
    background-image: url("../images/ffxiv_screen.jpg");
    background-size: 100%;
}

h1 {
    background-color: white;
    font-size: 3em !important;
    font-weight: bold !important;
    margin: auto;
}

div {
    background-color: white;
    margin: auto;
    padding: 5px;
    width: 90%;
}

#materiaBox {
    background-color: aquamarine;
    height: 138px;
}

.materiaImg {
    margin: 5px;
}

#goal {
    font-size: 2em;
}